<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main page</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <header class="header">
            <div class="header__navigation">
                <div class="navigation">
                    <nav class="navigation__nav">
                        <ul class="navigatiosn__links">
                            <li class="navigation__link-container"><a href="/" class="myButton">To Main</a></li>
                            <li class="navigation__link-container"><a href="/set_mark_page" class="myButton">Set mark</a></li>
                            <li class="navigation__link-container"><a href="/clear_mark_page" class="myButton">Clear mark</a></li>
                            <li class="navigation__link-container"><a href="/add_student_page" class="myButton">Add student</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <hr>
        <main class="main">
            <div class="main__intial-table-container">
                <div class="intial-table">
                    <table class="intial-table__table">
                        <thead>
                            <tr>
                                <th rowspan="2">Student</th>
                                {% for header in initial_table['top_headers'] %}
                                <th class="intial-table__top-header" colspan="{{header['count']}}">{{ header['date'] }}</th>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for header in initial_table['headers'] %}
                                <th class="intial-table__header">{{ header['name'] }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for student_marks in initial_table['marks'] %}
                            <tr{% if index % 2 == 1 %} class="even"{% endif %}>
                                <td>{{ student_marks['student']['name'] }}</td>
                                {% for mark in student_marks['marks'] %}
                                <td>{{ mark['value'] }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                       </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="main__processed-table-container">
                <div class="processed-table">
                    <table class="processed-table__table">
                        <thead>
                            <tr>
                                <th rowspan="2">Student</th>
                                <th colspan="{{ count(processed_table['subjects']) }}">Subjects</th>
                                <th rowspan="2">Minimum mark</th>
                                <th rowspan="2">Minimum mark subjects</th>
                                <th rowspan="2">Maximum mark</th>
                                <th rowspan="2">Maximum mark subjects</th>
                            </tr>
                            <tr>
                                {% for subject in processed_table['subjects'] %}
                                <th>{{ subject['name'] }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in processed_table['data'] %}
                            <tr {% if index % 2 == 1 %}class="even" {% endif %}>
                                <td>{{ entry['student']['name'] }}</td>
                                {% for avg_mark in entry['average_marks'] %}
                                    <td>{{ avg_mark['average_value'] }}</td>
                                {% endfor %}
                                <td>{{ entry['minimum_mark'] }}</td>
                                <td>
                                    {% for subject in entry['minimum_subjects'] %}
                                        {%- if index != 0 %}, {% endif -%} 
                                        {{- subject['name'] -}}
                                    {% endfor %}
                                </td>
                                <td>{{ entry['maximum_mark'] }}</td>
                                <td>
                                    {% for subject in entry['maximum_subjects'] %}
                                        {%- if index != 0 %}, {% endif -%} 
                                        {{- subject['name'] -}}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <footer class="footer">
        </footer>
    </body>
</html>